@import '../sass/left-navigation/left-navigation.scss';

.v-input--selection-controls {
    margin-top: 0 !important;
}
.input-centered {
    max-width: 33%!important;
    margin: 0 auto!important;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-mess .v-messages {
    display: none!important;
}

.datepicker-centered .v-input{
    max-width: 33%;
    margin: 0 auto;
}

.v-data-table tr{
    cursor: pointer;
}