.v-navigation-drawer .v-list-item__title a {
  width: 100%;
  display: block;
  padding: 8px 0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  color: #424242;
}
.v-navigation-drawer .v-list-item__content {
  padding: 0 !important;
}

.v-input--selection-controls {
  margin-top: 0 !important;
}

.input-centered {
  max-width: 33% !important;
  margin: 0 auto;
}

.v-input--radio-group--column .v-input--radio-group__input {
  flex-direction: row !important;
  align-items: center !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-mess .v-messages {
  display: none !important;
}

.datepicker-centered .v-input {
  max-width: 33%;
  margin: 0 auto;
}